/* Reset some default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a basic styling to the body */
  body {
    background-image: url("https://sph.washington.edu/sites/default/files/inline-images/Seattle-Rainier%201200x600_0.jpg")
  }
  
  /* Style the menu section */
  #menu {
    background-color:  #ffd6d6;
    /* Add any other styles for the menu section as needed */
  }
  
  /* Style the feature section */
  #feature {
    background-color: #8CC63E;
    background-image: url("https://sph.washington.edu/sites/default/files/inline-images/Seattle-Rainier%201200x600_0.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    /* Add any other styles for the feature section as needed */
  }
  
  /* Style the column one section */
  #columnOne {
    background-color:  #bdef21;
    /* Add any other styles for the column one section as needed */
  }
  
  /* Style the column two section */
  #columnTwo {
    background-color: #21ef97 ;
    /* Add any other styles for the column two section as needed */
  }
  
  /* Style the column three section */
  #columnThree {
    background-color:  #2188ef ;
    /* Add any other styles for the column three section as needed */
  }
  
  /* Style the footer section */
  #footer {
    background-color: #b021ef ;
    /* Add any other styles for the footer section as needed */
  }
  
  /* Style the logo with a font from the Open Font Library */
  p {
    font-family: 'QuinzeRegular';
    font-weight: normal;
    font-style: normal;
 } 
  